#container
{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto 0.4fr;
    grid-template-areas:"navbar"
                        "town"
                        "beaches"
                        "sightseeing"
                        "footer";
    
}

#navbar
{
    grid-area: navbar;
}

#town
{
    grid-area: town;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
    grid-template-areas:"title title"
                        "img1 img3"
                        "img2 img3"
                        "img4 img5"
                        "img4 img6";
    gap: 1.5%;
}


.gallery-section-title
{
    grid-area:title;
}

#img1
{
    grid-area:img1;
}

#img2
{
    grid-area:img2;
}

#img3
{
    grid-area:img3;
}

#img4
{
    grid-area:img4;
}

#img5
{
    grid-area:img5;
}

#img6
{
    grid-area:img6;
}



#beaches
{
    grid-area: beaches;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto 1fr 1fr;
    grid-template-areas:"title title"
                        "img7 img8"
                        "img9 img10";
    gap:1.5%;
}

#img7
{
    grid-area:img7;
}

#img8
{
    grid-area:img8;
}

#img9
{
    grid-area:img9;
}

#img10
{
    grid-area:img10;
}

#sightseeing
{
    grid-area: sightseeing;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-areas:"title title"
                        "img11 img12"
                        "img13 img14"
                        "img15 img16";
    gap: 1.5%;
}

#img11
{
    grid-area:img11;
}

#img12
{
    grid-area:img12;
}

#img13
{
    grid-area:img13;
}

#img14
{
    grid-area:img14;
}

#img15
{
    grid-area:img15;
}

#img16
{
    grid-area:img16;
}

#town, #beaches, #sightseeing
{
    margin:auto;
    width:75%;
}

#footer-parent
{
    grid-area:footer;
    margin-top: 2%;
}

@media only screen and (max-width:800px)
{

    #town
    {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:"title"
                            "img1"
                            "img2"
                            "img3"
                            "img4"
                            "img5"
                            "img6";
        gap:0.5%;
    }

    #beaches
    {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr 1fr 1fr;
        grid-template-areas:"title"
                            "img7"
                            "img8"
                            "img9"
                            "img10";
        gap:0.5%;
    }

    #sightseeing
    {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:"title"
                            "img11"
                            "img12"
                            "img13"
                            "img14"
                            "img15"
                            "img16";
        gap:0.5%;
    }
}