#container
{
    display: grid;
    grid-template-columns: 31% 31% 38%;
    grid-template-rows: 60% 33% 7%;
    grid-template-areas: "main-img main-img links"
                         "secondary1 secondary2 links"
                         "footer footer footer";
    gap: 5px;
}

#main-img
{
    grid-area: main-img;
}

#links
{
    grid-area: links;
    text-align: center;
    margin:auto;
}

#secondary-img1
{
    grid-area: secondary1;
}

#secondary-img2
{
    grid-area: secondary2;
}

#footer-parent
{
    grid-area: footer;
}


nav>a
{
    display:block;
    width:30%;
    background-color: #5497a7;
    border: none;
    margin: 1% auto 1%;
    color:white;
    text-decoration: none;
    padding:2%;
    border-radius: 4px;
    transition: padding 1s;
}

nav>a:hover
{
    background-color: #78cad2;
    color:black;
    padding:3%;
}


@media only screen and (max-width:900px)
{
    #container
    {
        grid-template-columns: 100%;
        grid-template-rows: 30% 30% 17% 17% 6%;
        grid-template-areas: "main-img"
                             "links"
                             "secondary1"
                             "secondary2"
                             "footer";
    }

    #links>h1, #links>h2
    {
        margin-top:2%;
        margin-bottom: 2%;
        font-size:7vw;
    }
}

@media only screen and (min-width:901px) and (min-height:600px) {
    #container
    {
        height:100vh;
    }
} 
