#container
{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto 0.4fr;
    grid-template-areas: "navbar"
                         "section1"
                         "section2"
                         "section3"
                         "footer";
}

#navbar
{
    grid-area: navbar;
}

#section1
{
    grid-area: section1;
}

#section2
{
    grid-area: section2;
}

#section3
{
    grid-area: section3;
}

#footer-parent
{
    grid-area: footer;
    margin-top: 2%;
}

img
{
    width:50%;
    height:auto;
}

#extra1, #extra2, #extra3
{
    display:none;
}

#section1, #section2, #section3
{
    margin:auto;
    width:75%;
}

#section1>img, #section3>img
{
    float:left;
    margin-right:3%;
    margin-bottom:1%;
}

#section2>img
{
    float:right;
    margin-left:3%;
    margin-bottom:1%;
}


iframe
{
    display:block;
    margin:auto;
    border:none;
}

@media only screen and (max-width:900px)
{
    img
    {
        width:100%;
    }

    iframe
    {
        width:100%;
    }
}